<div class="row shadow-sm mt-3 m-1 pb-3 pt-3 rounded">
  <div class="col-md-3 pt-2">
    <img src="{{ company.imageUrl }}" class="img-thumbnail" width="150">
  </div>
  <div class="col-md mb-3">
    <div class="row">
      <div class="col-md-1 pt-2"><i class="far fa-building"></i> </div>
      <div class="col-md-11 pt-2 pl-0 company-name"> {{ company.name }}</div>
    </div>
    <div class="row">
      <div class="col-md-1 pt-2"><i class="fas fa-map-marker-alt"></i></div>
      <div class="col-md-11 pt-2 pl-0"> {{ company.address }}</div>
    </div>
    <div class="row">
      <div class="col-md-1 pt-2"><i class="fas fa-link"></i></div>
      <div class="col-md-11 pt-2 pl-0">{{ company.website }}</div>
    </div>
  </div>
  <div class="col-md">
    <div class="col-md-12 d-inline"></div>
    <div class="row mt-2">
      <div class="col-md-5 pt-2"><i class="fas fa-certificate"></i> Org. Number:</div>
      <div class="col-md-7 pt-2"> {{ company.organizationNumber }}</div>
    </div>
    <div class="row">
      <div class="col-md-5 pt-2"><i class="fas fa-user-tie"></i> Customer Contact:</div>
      <div class="col-md-7 pt-2">{{ company.customer.name }}</div>
    </div>
  </div>
  <div class="col-md-12">
    <hr>
    <span *ngFor="let provider of company.providers">
      <img *ngFor="let department of provider.departments" class="mr-2" width="25" src="{{ department.imageUrl }}"
        alt="{{ department.name }}" title="{{ department.name }}">
    </span>
  </div>
</div>