<div class="card my-3 shadow-sm">
  <div class="card-header">
    <h5 class="m-0">
      <div class="row">
        <div class="col-md-9 p-0">
          <button class="btn btn-block btn-link heading" type="button">
            <i class="fas fa-building"></i> Building
          </button>
        </div>
        <div class="col-md text-right">
          <button kendoButton [primary]=true [look]="'flat'"><i class="fas fa-save pr-2"></i> Save</button>
          <button kendoButton [routerLink]="['/company/structure/', id]" [primary]=true [look]="'flat'"><i
              class="fas fa-times pr-2 text-danger"></i>
            Cancel</button>
        </div>
      </div>
    </h5>
  </div>
  <div class="card-body">
    <kendo-tabstrip>
      <kendo-tabstrip-tab [title]="'Details'" [selected]="true">
        <ng-template kendoTabContent>
          <form>
            <div class="row">
              <div class="col-md">
                <kendo-textbox-container floatingLabel="Name" class="w-75 mt-2">
                  <input kendoTextBox [(ngModel)]="object.name" name="name" />
                </kendo-textbox-container>
                <kendo-textbox-container floatingLabel="TFM" class="w-75 mt-2">
                  <input kendoTextBox name="tfm" [(ngModel)]="object.tfm.dataToDisplay" />
                </kendo-textbox-container>
                <kendo-textbox-container floatingLabel="Object Identifier" class="w-75 mt-2">
                  <input kendoTextBox [(ngModel)]="object.objectIdentifier" name="objectIdentifier" />
                </kendo-textbox-container>
                <kendo-textbox-container floatingLabel="Latitude" class="w-75 mt-2">
                  <input kendoTextBox name="latitude" [(ngModel)]="object.latitude" />
                </kendo-textbox-container>
                <kendo-textbox-container floatingLabel="Longitude" class="w-75 mt-2">
                  <input kendoTextBox name="longitude" [(ngModel)]="object.longitude" />
                </kendo-textbox-container>
                <button kendoButton class="btn btn-block w-75 mt-4" [primary]=true [look]="'outline'"
                  (click)="onGetCoordsClicked()"><i class="fas fa-map-marker-alt pr-2"></i>Get Coordinates</button>
                <h6 class="mt-4">Comment</h6>
                <textarea kendoTextArea class="w-75"></textarea>
              </div>
              <div class="col-md">
                <p class="mb-1 h6">Providers</p>
                <kendo-dropdownlist class="w-75" name="providers" [data]="providers" [textField]="'name'"
                  [valueField]="'name'" [(ngModel)]="selectedProvider">
                </kendo-dropdownlist>
                <p class="mt-2 heading text-uppercase">Departments</p>
                <div *ngFor="let department of selectedProvider.departments">
                  <input type="checkbox" id="{{department.name}}" class="k-checkbox" />
                  <label class="k-checkbox-label" for="{{department.name}}"><img class="mb-2" width="25"
                      src="{{ department.imageUrl }}" title="{{ department.name }}">
                    <span class="ml-2">{{department.name}}</span></label>
                </div>
                <div class="mt-2">
                  <h6>Apply departments changes for children</h6>
                  <div class="k-form-field">
                    <input type="radio" name="checkMode" id="singleCheck" value="single" class="k-radio right"
                      [(ngModel)]="checkMode" />
                    <label class="k-radio-label right mr-3" for="singleCheck">Yes</label>
                    <input type="radio" name="checkMode" id="multipleCheck" value="multiple" class="k-radio"
                      [(ngModel)]="checkMode" />
                    <label class="k-radio-label" for="multipleCheck">No</label>
                  </div>
                  <p class="mt-2 heading text-uppercase">Contacts</p>
                  <h6>Building Responsible Person</h6>
                  <kendo-autocomplete [data]="listItems" class="countries w-75">
                  </kendo-autocomplete>
                  <h6 class="mt-3">Building Deviation Responsible</h6>
                  <kendo-autocomplete [data]="listItems" class="countries w-75">
                  </kendo-autocomplete>
                </div>
              </div>
              <div class="col-md">
                <div class="row">
                  <div class="col-md-10">
                    <p class="mb-1 mt-0 text-uppercase heading">Building Picture</p>
                  </div>
                  <div class="col-md text-right mb-1">
                    <button kendoButton [primary]=true [look]="'flat'"><i class="fas fa-trash"></i></button>
                  </div>
                </div>
                <img src=" {{ object.imageUrl }}" class="img-thumbnail mt-0">
                <kendo-upload [saveUrl]="uploadSaveUrl" [removeUrl]="uploadRemoveUrl" class="mt-2">
                  <kendo-upload-messages select="Upload Image">
                  </kendo-upload-messages>
                </kendo-upload>
                <p class="mt-2 mb-1 text-uppercase heading">Documents</p>
                <kendo-upload [saveUrl]="uploadSaveUrl" [removeUrl]="uploadRemoveUrl">
                </kendo-upload>
              </div>
            </div>
          </form>
        </ng-template>
      </kendo-tabstrip-tab>
      <kendo-tabstrip-tab [title]="'Contacts'">
        <ng-template kendoTabContent>
          <p>
            The City of New York, often called New York City or simply New York, is the most populous city in the United
            States. With an estimated 2015 population of 8,550,405 distributed over a land area of just 305 square miles
            (790 km2), New York City is also the most densely populated major city in the United States. Located at the
            southern tip of the state of New York, the city is the center of the New York metropolitan area, one of the
            most populous urban agglomerations in the world.
          </p>
          <p>
            A global power city, New York City exerts a significant impact upon commerce, finance, media, art, fashion,
            research, technology, education, and entertainment, its fast pace defining the term New York minute. Home to
            the headquarters of the United Nations, New York is an important center for international diplomacy and has
            been described as the cultural and financial capital of the world.
          </p>
        </ng-template>
      </kendo-tabstrip-tab>
    </kendo-tabstrip>
  </div>
</div>