.row {
    background-color: white;
    border-radius: 3px;
    color: dimgray;
}

.accordion {
    border-bottom:initial;
}

.heading {
    color: #153153;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
}

.heading:hover {
    text-decoration: none;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #2F6DB9;
}

#inner-button:focus {
    outline: none;
    box-shadow: none;
}