<div class="accordion shadow-sm border-bottom my-3" id="overviewAccordion">
  <div class="card rounded">
    <div class="card-header p-0" id="overviewHeading">
      <h5 class="mb-0">
        <div class="row">
          <div class="col-md">
            <button class="btn btn-block btn-link font-weight-bold text-left mt-2 heading" type="button" data-toggle="collapse"
              data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              <i class="fas fa-list"></i> Overview
            </button>
          </div>
          <div class="col-md text-right m-2">
            <button kendoButton [primary]=true [look]="'flat'">Controls</button>
            <button kendoButton [primary]=true [look]="'flat'">Deviations</button>
            <button kendoButton [primary]=true [look]="'flat'">Calendar</button>
            <span class="pb-2 mx-1 border-left border-secondary"></span>
            <button [routerLink]="['/company/structure/', object.id, 'edit']" kendoButton [primary]=true [look]="'flat'"
              class="px-4"><i class="fas fa-pen mr-2"></i> Edit</button>
          </div>
        </div>
      </h5>
    </div>

    <div id="collapseTwo" class="collapse show" aria-labelledby="overviewHeading" data-parent="#overviewAccordion">
      <div class="card-body">
        <kendo-tabstrip>
          <kendo-tabstrip-tab [title]="'Details'" [selected]="true">
            <ng-template kendoTabContent>
              <div class="row">
                <div class="col-md mt-3 ml-3">
                  <div class="mb-3 h6">Name: <span class="font-weight-normal">{{object.name}}</span>
                  </div>
                  <div class="mb-3 h6">Path:</div>
                  <div class="mb-3 h6">
                    Providers:
                    <kendo-dropdownlist class="ml-2" [data]="providers" [textField]="'name'" [valueField]="'name'" [(ngModel)]="defaultProvider" (valueChange)="handleValue($event)">
                    </kendo-dropdownlist>
                  </div>
                  <div class="text-left h5 mt-4 mb-4 heading">Departments</div>
                  <div *ngFor="let department of defaultProvider.departments">
                    <img class="mb-2" width="25" src="{{ department.pictureUrl }}" alt="{{ department.name }}"
                      title="{{ department.name }}">
                    <span class="ml-2">{{department.name}}</span>
                  </div>
                </div>
                <div class="col-md-4">
                  <img
                    src="https://scontent.fsof3-1.fna.fbcdn.net/v/t1.0-9/62443174_2440250496216157_8456221913499303936_o.jpg?_nc_cat=105&_nc_oc=AQlN38IrT7YEJiADO-5T-R1WK1bP81L6yUs53i1kcDlRON23Fsk8aNNB4EGQT789Bag&_nc_ht=scontent.fsof3-1.fna&oh=f71c3b5ad6c4cec1c091ba7ee726ab04&oe=5D87FFC6"
                    class="img-fluid float-right" width="300" alt="">
                </div>
              </div>
            </ng-template>
          </kendo-tabstrip-tab>
          <kendo-tabstrip-tab [title]="'Contacts'">
            <ng-template kendoTabContent>
              <div class="mt-3 mb-3 font-weight-bold">Building/object Responsible Person: <span
                  class="font-weight-normal">Kotaraka Rumen</span> </div>
              <div class="mb-3 font-weight-bold">Building/object Dev. Responsible Person: <span
                  class="font-weight-normal">Kotaraka Rumen</span></div>
            </ng-template>
          </kendo-tabstrip-tab>
        </kendo-tabstrip>
      </div>
    </div>
  </div>
</div>