.navbar {
    background-color: white;
    color:  #153153;
    z-index: 1;
}
.navbar > span {
    color:  #153153;
}

.left-menu {
    background-color: #153153;
    color: gray;
    text-align: center;
    font-size: 1em;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.selected {
    color: white;
    cursor: pointer;
}

.main {
    background-color:rgb(242, 242, 242);
}
