<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-light">
  <span class="navbar-brand mb-0 h1">Service Book</span>
</nav>
<div class="container-fluid h-100"> 
  <div class="row h-100">
    <div class="col-md-2 left-menu">
      <div class="row">
        <div class="col-md-12 mt-5"><i class="fas fa-tachometer-alt fa-4x"></i></div>
        <div class="col-md-12 mt-2">Overview</div>
        <div class="col-md-12 mt-3 selected"><i class="far fa-building fa-4x"></i></div>
        <div class="col-md-12 mt-2 selected">My Company</div>
        <div class="col-md-12 mt-3"><i class="far fa-list-alt fa-4x"></i></div>
        <div class="col-md-12 mt-2">Controls</div>
      </div>
    </div>
    <div class="col-md-10"></div>
  </div>
</div>
<router-outlet></router-outlet>
