<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-light shadow-sm">
  <span class="navbar-brand mb-0 h1">Service Book</span>
</nav>
<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-md-2 left-menu">
      <div class="col-md-12 mt-5" routerLinkActive='active' [routerLink]="['/overview']"><i
          class="d-block fas fa-tachometer-alt fa-4x"></i>Overview</div>
      <div class="col-md-12 mt-3" routerLinkActive='active' [routerLink]="['/company']"><i
          class="d-block far fa-building fa-4x"></i>My
        Company</div>
      <div class="col-md-12 mt-3" routerLinkActive='active' [routerLink]="['/controls']"><i
          class="d-block far fa-list-alt fa-4x"></i>Controls</div>
    </div>
    <div class="col-md-10 main">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>