.navbar {
    background-color: white;
    color:  #153153;
    z-index: 1;
}
.navbar > span {
    color:  #153153;
}

.left-menu {
    background-color: #153153;
    color: gray;
    text-align: center;
    font-size: 1.1em;
    font-weight: 500;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.left-menu div {
    cursor: pointer;
    outline: none;
    outline-style: none;
}

.left-menu div:hover {
    color: white;
    transition: 0.6s;
}

.active {
    color: white;
}

.main {
    background-color:rgb(242, 242, 242);
}
