.menu-item {
    color: grey;
}

.menu-item:hover {
    color:#153153;
    transition: 0.6s;
}

hr {
    height: 4%;
    background-color: #153153;;
    margin-top: 50px;
}

.hr-left-border {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.hr-right-border {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.icon:focus  {
    outline: none;
    outline-style: none;
}

.active {
    color:  #153153;
}

